body {
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

a {
    color: #07a;
    text-decoration: none;
}

p {
    margin-bottom: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.time-my-content {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
}

#time-main-dock {
    margin-right: 20px;
    flex: 500px
}

#time-short-bio {
    margin-bottom: 30px;
}

#time-tray-publications {
    max-height: 500px;
    overflow-y: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}

#time-tray-publications:hover {
    overflow-y: scroll;
}

.time-pubs-item {
    width: 90%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
}

#time-tray-career {
    margin-bottom: 20px;
    margin-top: 20px;
}

.time-career-item {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
}

.time-career-item-left {
    width: 40%;
}

.time-career-item-right {
    /* margin-left: 10px; */
    margin-top: 5px;
    width: 60%;
}

.time-career-item-hr {
    width: 90%;
    margin: 20px auto;
}

#time-side-bar {

}

#time-profile-pic {

}

#time-activities {

}

#ps-note {
    text-align: center;
    font-size: 12px;
}

/* some general util classes */
.ra1 {
    text-align: right;
}